# Ignore virtual environment
venv/

# Ignore database files (e.g., SQLite)
db.sqlite3

# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore media files (e.g., uploaded images, files)
media/

# Ignore static files generated during deployment
staticfiles/

# Ignore logs
*.log

# Ignore environment-specific configuration files
*.env
